peers.json
secretsManagerConfig.json
*-packr.go
config*.json

bin/

test-chain*
.idea/

# MacOS Leftovers
.DS_Store
.vscode

# exclude build folder
artifacts

# Log files
*.log

vendor/
shared/

.envrc
.env