peers.json
genesis.json
secretsManagerConfig.json
*-packr.go
config*.json

bin/

test-chain*
.idea

# Exclude the build .exe file from version control
nexus

# MacOS Leftovers
.DS_Store
.vscode

# exclude build folder
artifacts

# Log files
*.log

vendor/
shared/

multi-validator-shared
