peers.json
secretsManagerConfig.json
*-packr.go
config*.json

bin/

test-chain*
.idea

.env

# Exclude the build file from version control
nexus

# Must include the nexus folders that are used in `e2e/tests/template-configs/*/nexus/`
!nexus/

# MacOS Leftovers
.DS_Store
.vscode

# exclude build folder
artifacts

# Log files
*.log

vendor/
shared/

.envrc